<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Ems Search form</title>
</head>
<body>
    <form action="${action}" method="get">
        <p>The query input string uses Lucene syntax.</p>
        <input type="search" name="q"/>
        <select name="type">
            #foreach($type in $types)
                <option value="$type">$type</option>
            #end
        </select>
        <input type="submit"/>
    </form>
</body>
</html>