<?xml version="1.0" encoding="utf-8"?>
<jnlp spec="1.0+" codebase="$$codebase" href="$outputFile">
    <information>
        <title>Event Management Suite :: Swing Client</title>
        <homepage href="http://ems.java.no" />
        <description kind="one-line">Event Management Suite Rich Client</description>
        <description kind="short">Event Management Suite Rich Client</description>
        <icon width="35" height="26" href="images/icon.gif" />
        <icon kind="splash" href="images/icon.jpg" />
        <vendor>JavaBin</vendor>
    </information>
    <security>
        <all-permissions />
    </security>
    <resources>
        <j2se version="1.6+" initial-heap-size="32m" max-heap-size="128m" />
        <property name="ems-host" value="$$context/ems"/>
        $dependencies
    </resources>
    <application-desc main-class="$mainClass"/>
</jnlp>
